
/* * *  Body/Header * * */

	body {
		color: white;
		background-color: #00002e;
		font-family: 'Helvetica Neue', Helvetica,Arial,sans-serif;
	}
	header.topo {
		text-align: center;
	}
	header.topo:hover{
		cursor: help;
	}
	h2 {
		font-size: 45px;
		text-align: center;
	}

	h3 {
		padding-top: 10px;
	}
	figure {	
		margin: 25px;
		text-align: center;
		justify-content: center;
		height: 186px;
	
	}

	.profile__pics__card figure img {
		width: 186px;

	}

	figure:hover  {
		border: 3px solid white;
		cursor: pointer;
	}

	.profile__pics__addPerfil figure {
		margin: 0 auto;
	}

/* * * Ids/Classes * * */
	.profile__pics{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		margin: 0 auto;
	}

	.profile__pics__card {
		margin: 0 auto;
		text-align:center
		justify-content: center;
		text-align: center;
		padding: 15px
	}


	.profile__pics__addPerfil {
		filter: brightness(70%);
		cursor: pointer;
		margin: 20px 20px 20px 20px;
	}

	.profile__pics__addPerfil:hover {
		filter: brightness(170%);
		cursor: pointer;
		transition: 0.5s;
	}


/* * * Footer * * */

footer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
footer button {
	text-align: center;
	opacity: 85%;
	background-color: #00002e;
	color: white;
	border: 2px solid white;
	border-radius: 2px;
	padding: 10px 30px;
}

footer button:hover {
	cursor: pointer;
	opacity: 125%;
}



/*  * * Media Querie * * */
	@media screen and (min-width: 800px) {
		
		header.topo{
		text-align:left;
		}
		
		.profile__pics{
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		flex-direction: row;
		text-align: center;
		}	
		
		}
		.profile__pics__addPerfil {
			margin-top: 70px;
		}
		.profile__pics__addPerfil h3 {
			margin-top: 70px;
		}

		footer button {		
			margin: 25px;
		}
	}


