
/* * *  Body/Header * * */

	body {
		color: white;
		background-color: #00002e;
		font-family: 'Helvetica Neue', Helvetica,Arial,sans-serif;
	}
	header.topo {
		text-align: center;
	}
	header.topo:hover{
		cursor: help;
	}
	h2 {
		font-size: 45px;
		text-align: center;
	}

	#box1 ,#box2 {
		width: 186px;
	}


	.profile__pics__card figure img {
	border: 3px solid #00002e;
	}

	.profile__pics__card figure img:hover  {
		border: 3px solid white;
		cursor: pointer;
		transition: 0.1s;
	}

	.profile__pics__card figure {
		margin: 0 auto;
	}

/* * * Ids/Classes * * */
	.profile__pics{
		margin: 0 auto;
		display: flex;
		justify-content: center;
		flex-direction: row;
		text-align: center;
		margin: 0 auto;
	}

	.profile__pics__card {
		width: 186px;
	}

	.profile__pics__card figure1 {
		filter: brightness(70%);
		cursor: pointer;	
	}
	
	.profile__pics__card figure1 img {
		width: 90px;
		margin-top: 37px;
		padding-bottom: 32px;
	}


	.profile__pics__card figure1:hover {
		filter: brightness(170%);
		cursor: pointer;
		transition: 0.55s;
	}

	.Gabriel {
		width: 186px;

	}
	.Maria {
		width: 186px;

	}
	.Renato {
		width: 186px;
	}

	.AddPerfil {
		width: 186px;
	}
/* * * Footer * * */

footer {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
footer button {
	text-align: center;
	opacity: 65%;
	background-color: #00002e;
	color: white;
	border: 2px solid white;
	border-radius: 2px;
	padding: 10px 30px;
}

footer button:hover {
	cursor: pointer;
	opacity: 125%;
}

.profile__pics__addPerfil {
	margin-top: 70px;
}
.profile__pics__addPerfil h3 {
	margin-top: 70px;
}

.profile__pics__card figure img {
	width: 150px;
}

footer button {		
	margin: 25px;
}




/*  * * Media Querie * * */
	@media screen and (min-width: 800px) {
		
		header.topo{
		text-align:left;
		}
		
		#box1 {
			width: 400px;
			display: flex;
			flex-direction: row;
			float: right;
		}

		#box2 {
			width: 400px;
			display: flex;
			flex-direction: row;
			float: left;
		}

		.Gabriel {
			width: 186px;
			padding-right: 15px;
		}
		.Maria {
			width: 186px;
			padding-right: 15px;
		}
		.Renato {
			width: 186px;
		}

		.AddPerfil {
			width: 186px;
		}
		.profile__pics{
			width: 858px;
		}	
		
		.profile__pics__card figure1 img {
			margin-top: 35px;
			padding-bottom: 33px;
			
		}


	}


